footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    background: rgba(50, 255, 126,1.0);
}
footer a{
    text-decoration: none;
    color: black;
}