@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.hero{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    font-size: 1.1em;
}
.hero p{
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
}